@import 'ant-design-vue/dist/reset';
@import 'vue3-carousel/dist/carousel';

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}
